h1 {
    color: red;
}

h2 {
    color: yellow;
}

body {
    background-color: lime;
    background-image: url(../img/jobontencombatready.jpg);
    background-size: 50px;
}

img {
    border: 20px dashed brown;
}

#img1 {
    border-color: blue;
}